tokenizers>=0.5.2
torch>=1.2.0
tqdm
numpy
boto3
filelock
requests
packaging
python-dateutil
gunicorn
flask
flask-cors
jsonschema
mosestokenizer
tokenize_uk @ git+https://github.com/kukas/tokenize-uk.git
